
<div class="row">
    <div class="col-md">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <partial name="_Register" />
        </div>
    </div>
    <div class="col-md">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <partial name="_Login" />
        </div>
    </div>
</div>
